div {
	border: solid 1px silver;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}

#styleOne {
    background-color: rgb(225, 225, 125, .4);
}

#styvarwo {
    background-color: rgb(125, 225, 225, .4);
}
